.contacts {
    // z-index: 1;
}

.contacts__list {
    @include list-reset;
}

.contacts__list-item {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);

    &--icon-phone {
        display: none;
    }
}

@media (min-width: $tablet-width) {
    .contacts__list {
        width: 216px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts__list-item {
        &--icon-phone {
            display: block;

            position: relative;

            &::before {
                content: "";
                width: 14px;
                height: 14px;

                position: absolute;
                top: 5px;
                left: -17px;

                background-image: url(../../img/telefon-icon.png);
            }
        }
    }
}