.goods-description__text {
    margin: 0;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: initial;
    // letter-spacing: -0.5px;
    text-align: center;

    color: rgba(255, 255, 255, 1);
}