.heading-main {
    @include heading-reset;
    width: 285px;

    letter-spacing: 0.2px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);

    text-align: center;

    &--orange {
        color: $orange;
    }
}

@media (min-width: $tablet-width) {
    .heading-main {
        width: 520px;

        font-size: 36px;
        line-height: 42px;
        text-align: left;
        letter-spacing: 0.68px;
    }
}

@media (min-width: $desktop-width) {
    .heading-main {
        width: 630px;
        font-size: 42px;
        line-height: 48px;
        letter-spacing: 1.2px;
    }
}