.logo {
    width: 88px;
    height: 88px;

    position: absolute;
    left: 50%;
    transform: translateX(-44px);
    z-index: 2000;

    background-image: url("../img/logo-mob.png");
    background-repeat: no-repeat;
    outline: 2px white;

    &:hover, &:focus {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }
}

.logo__img {
    &--tab {
        display: none;
    }
}

@media (min-width: $tablet-width) {
    .logo {
        width: 108px;
        height: 108px;

        background-image: url("../img/logo-tab.png");

        position: unset;
        transform: none;
        order: -3;
    }

    .logo__img {
        display: none;

        &--tab {
            display: block;
        }
    }
}

@media (min-width: $desktop-width) {
    .logo {
        width: 111px;
        height: 111px;

        background-image: url("../img/logo-desktop.png");
    }
}