.nav-main {
    padding-top: 142px;
    width: 100%;

    position: absolute;
	top: -127%;
    left: 0px;
    z-index: 1000;

    background-color: $mob-back;
    transition: all 300ms ease-in-out;

    color: $white;
}

.nav-main__site-list {
    @include list-reset;
    margin-bottom: 25px;
}

.nav-main__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-main__teachers {
    margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
    .nav-main {
        width: 100%;
        height: 50px;
        padding: 0;
        margin-bottom: 9px;

        position: unset;
       
        transition: none;
        background-color: unset;
    }

    .nav-main__wrapper {
        width: 650px;
        padding-left: 48px;

        flex-direction: row;
        flex-wrap: nowrap;

        position: relative;
        left: 111px;
        top: -127px;
    }

    .nav-main__site-list {
        margin-left: 81px;
        margin-bottom: 48px;
    }

    .nav-main__user-list {
        position: absolute;
        right: -35px;
        top: 59px;
    }

    .nav-main__teachers {
        position: absolute;
        top: -7px;
        right: 37px;
    }
}

@media (min-width: $desktop-width) {
    .nav-main {
        margin-bottom: 7px;
    }

    .nav-main__wrapper {
        padding-left: 0;

        left: 41px;

        letter-spacing: 0.29px;

        justify-content: flex-start;
    }

    .nav-main__teachers {
        top: -9px;
        right: -56px;
    }

    .nav-main__user-list {
        right: -253px;
        top: 0;
    }
}