.nav-main {
    padding-top: 142px;
    width: 100%;

    position: absolute;
    // top: 0;
    background-color: $mob-back;
    transition: all 300ms ease-in-out;
	top: -100%;
	left: 0px;

    color: $white;
}

.nav-main__site-list {
    @include list-reset;
    margin-bottom: 25px;
}

.nav-main__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-main__heading-main {
    margin-bottom: 42px;
    margin-top: -5px;
    margin-left: 9px;
}

.nav-main__teachers {
    margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
    .nav-main {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 300px;
        top: 200px;
        background-color: unset;
    }
}