.programms {
    margin-bottom: 150px;
}

.programms__subheading {
    margin: 0;
    height: 17px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: $blue;

    display: block;
}

.programms__counter {
    display: none;
}

.programms__slider {
    width: 320px;
    margin: 0 auto;
}

.programms_slide {
    position: relative;
}

.programms__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        height: 100%;
    }

    &:hover > div {
        visibility: hidden;
    }

    &:hover > div::after {
        visibility: visible;
    }
}

.programms__link {
    &:focus > div {
        height: 100%;
    }

    &:focus > div > div {
        opacity: 0.6;
    }
}

.programms__name {
    width: 190px;
    margin-bottom: 6px;

    position: absolute;
    bottom: 27px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $white;

    text-align: center;

    &::after {
        content: "Подробнее о программе";
        width: 185px;
        height: 55px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-95px);

        visibility: hidden;
    }
}

@media (min-width: $tablet-width) {
    .programms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .programms__link {
        height: 100%;

        display: flex;
    }

    .programms__counter {
        width: 560px;
        height: 51px;
        padding-top: 10px;
        margin-bottom: 107px;
        
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: $orange;
        text-align: center;
        border: 2px solid $orange;
        border-radius: 50px;

        display: block;
        order: -1;
    }

    .programms__subheading {
        font-size: 24px;
        letter-spacing: 0.5px;
    }

    .programms__slider {
        width: 100%;
    }

    .programms__name {
        font-size: 20px;
        line-height: 23px;
        
        bottom: 20px;

        &::after {
            bottom: -9px;
        }
    }
}

@media (min-width: $desktop-width) {
    .programms__counter {
        width: 700px;
        height: 61px;
        margin-bottom: 139px;
        padding-top: 15px;

        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
    }

    .programms__subheading {
        font-size: 30px;
        letter-spacing: 0.6px;
    }

    .programms__name {
        width: 237px;

        bottom: 15px;

        font-size: 24px;
        font-weight: 500;
        line-height: 29px;

        &::after {
            bottom: 3px;
        }
    }
}
