.register-link {
    width: 304px;
    height: 40px;
    padding-bottom: 3px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 20;

    border: 2px solid $orange;
    border-radius: 4px;
    outline: none;

    &::before {
        content: "";
        width: 50%;
        height: 100%;

        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;

        background-color: $orange;
        border: none;
    }

    &::after {
        content: "";
        width: 50%;
        height: 100%;

        position: absolute;
        right: 50%;
        top: 0;
        z-index: -1;

        background-color: $orange;
    }

    &:active {
        opacity: 0.3;
        transition: all 70ms ease-in-out;
    }
}

@media (min-width: $tablet-width) {
    .register-link {
        width: 305px;
        padding-right: 1px;
        padding-bottom: 1px;
    }
}

@media (min-width: $desktop-width) {
    .register-link {
        &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0);
        
            &::before {
                transition: all 150ms ease-in-out;
                width: 0%;
                background-color: rgba(0, 0, 0, 0);
            }
        
            &::after {
                transition: all 150ms ease-in-out;
                width: 0%;
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}