.site-list {
    @include list-reset;
    width: 100%;
    

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;

    border-bottom: 1px solid rgba(105, 105, 105, 1);
}

.site-list__item {
    margin-left: -3px;
    margin-bottom: 26px;

    &:first-child {
        margin-top: -4px;
    }

    &:last-child {
        margin-bottom: 33px;
    }
}

.site-list__link {
    @include link-reset;
}