.site-list {
    @include list-reset;
    width: 100%;
    
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgba(105, 105, 105, 1);
}

.site-list__item {
    // margin-left: -3px;
    padding-right: 5px;
    margin-bottom: 26px;
    
    &:first-child {
        margin-top: -4px;
    }

    &:last-child {
        margin-bottom: 34px;
        padding-right: 3px;
    }
}

.site-list__link {
    @include link-reset;
    outline: none;

    &:hover {
        opacity: 0.6;
    }

    &:active, &:focus {
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        width: 335px;
        max-height: 185px;

        font-size: 14px;

        position: relative;

        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: hidden;

        border-bottom: none;
    }

    .site-list__item {
        margin: 0;
        margin-right: 31px;
        margin-bottom: 30px;
        padding-right: 0;

        position: relative;
        display: block;

        &:first-child {
            margin-top: 0;
        }
        
        &:nth-child(2) {
            margin-right: 29px;
        }

        &:last-child {
            margin-bottom: 30px;
            margin-top: 0;
            align-self: center;
        }
    }

    .site-list__link {
        padding-right: 1.5px;
        padding-left: 1px;
        padding-bottom: 1px;

        &:hover, &:focus {
            border-bottom: 2.5px solid $orange;
        }

        &:hover, &:focus {
            opacity: 1;
        }
    }
}

@media (min-width: $desktop-width) {
    .site-list {
        width: 414px;

        font-size: 16px;
    }

    .site-list__item {
        &:nth-child(2) {
            margin-right: 28px;
        }
    }
}
