.swiper-container {
    width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 261px;
    height: 450px;

    background-position: top;
    &:first-child {
        background-position: center;
        background-size: 150%;
        background-position-y: -2px;
        background-position-x: -85px;
    }

    &:last-child {
        background-position-y: -40px;
    }
}

@media (min-width: $tablet-width) {
    .swiper-container {
        width: 952px;
        margin: 0 auto;
        padding-top: 84px;
    }

    .swiper-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .swiper-slide {
        width: 304px;
        height: 450px;

        &:first-child {
            background-size: 130%;
            background-position-y: -5px;
            background-position-x: -57px;
        }

        
        &:nth-child(2) {
            background-size: 115%;
            background-position-y: 0;
            background-position-x: -8px;
        }

        &:last-child {
            background-size: 117%;
            background-position-y: -39px;
            background-position-x: -35px;
        } 
    }
}

@media (min-width: $desktop-width) {
    .swiper-container {
        width: 1280px;
        padding-top: 104px;
    }

    .swiper-slide {
        width: 414px;
        height: 450px;

        background-position: top;
        
        &:first-child {
            background-size: 105%;
            background-position-x: -20px;
        }

        
        &:nth-child(2) {
            background-size: 107%;
            background-position-y: -9px;
            background-position-x: -1px;
        }

        &:last-child {
            background-size: 108%;
            background-position-y: -60px;
            background-position-x: -19px;
        } 
    }
}