.user-list {
    @include list-reset;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list__item {
    margin-bottom: 21px;

    &:last-child {
        margin-left: -5px;
        margin-bottom: 18px;
    }
}

.user-list__link {
    @include link-reset;
    outline: none;

    &:hover {
        opacity: 0.6;
    }

    &:active, &:focus {
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .user-list {
        width: 164px;
        height: 111px;
        padding-left:  28px;

        position: absolute;
        right: -35px;
        top: 59px;

        justify-content: center;
        align-items: flex-start;

        font-size: 14px;
        color: rgba(0, 0, 0, 1);
        font-weight: 500;

        transition: all 300ms ease-in-out;
        visibility: hidden;
        opacity: 0;      
        background-color: $white;
        border-radius: 10px 0 10px 10px;
    }

    .user-list__item {
        margin: 0;
        margin-bottom: 9px;

        &:last-child {
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}